<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="AutoDetectExeName" value="calc" />
    <add key="AutoStart" value="False" />
    <add key="AutoDetect" value="False" />
    <add key="Culture" value="fr-FR" />
    <add key="IgnoredKeys" value="0;1" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>